<%- include('./layouts/header.ejs') %>

<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <%- include('./layouts/nav.ejs') %>
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="card" id="toload">
                <div class="card-body" >
                    <form class="forms-sample" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label for="image" class="col-sm-3 col-form-label">Image</label>
                            <div class="col-sm-9">
                                <input type="file" class="form-control" id="imagebanner" name="images" multiple onchange="displaySelectedNewImage()">

                                <div id="bannerImagePreview" class="mt-2"></div>
                                <p class="text-danger error-message" id="imageError"></p>
                            </div>
                        </div>
                    
                        <div class="form-group row">
                            <label for="title" class="col-sm-3 col-form-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
                                <p class="text-danger error-message" id="titleError"></p>
                            </div>
                        </div>
                    
                        <div class="form-group row">
                            <label for="description" class="col-sm-3 col-form-label">Description</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="description" name="description" placeholder="Description" required></textarea>
                                <p class="text-danger error-message" id="descriptionError"></p>
                            </div>
                        </div>
                    
                        <div class="form-group row">
                            <label for="occasion" class="col-sm-3 col-form-label">Location</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="occasion" name="occasion" required>
                                    <option value="" selected disabled>Select Location</option>
                                    <option value="HOME1">HOME1</option>
                                    <option value="HOME2">HOME2</option>
                                </select>
                                <p class="text-danger error-message" id="occasionError"></p>
                            </div>
                        </div>
                    
                        <button type="button" class="btn btn-primary mr-2" onclick="addBanner(event)">Submit</button>
                        <button class="btn btn-dark" onclick="cancelAction()">Cancel</button>
                    </form>
                    <p class="text-success" id="messageid"> <%= message %></p>
                </div>
                
            </div>
            
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer" >
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Aura Beauty</span>
        </div>
    </footer>
    <!-- partial -->
    </div>
    <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
 function addBanner(event) {
        event.preventDefault();
        validateForm(); // Assuming validateForm handles form submission
    }
    let v = [];

    function validateForm() {
        const imageBannerInput = document.getElementById('imagebanner');
        const titleInput = document.getElementById('title');
        const descriptionInput = document.getElementById('description');
        const occasionInput = document.getElementById('occasion');

        const imageError = document.getElementById('imageError');
        const titleError = document.getElementById('titleError');
        const descriptionError = document.getElementById('descriptionError');
        const occasionError = document.getElementById('occasionError');

        const imageBanner = imageBannerInput.files;
        const title = titleInput.value.trim();
        const description = descriptionInput.value.trim();
        const occasion = occasionInput.value.trim();

        let isValid = true;
        if (title === '') {
    titleError.textContent = 'Title cannot be empty.';
    titleInput.focus();
    isValid = false;
} else {
    titleError.textContent = '';
}

if (description === '') {
    descriptionError.textContent = 'Description cannot be empty.';
    descriptionInput.focus();
    isValid = false;
} else {
    descriptionError.textContent = '';
}

if (occasion === '') {
    occasionError.textContent = 'Occasion cannot be empty.';
    occasionInput.focus();
    isValid = false;
} else {
    occasionError.textContent = '';
}
        
        if (!validateImages(imageBanner)) {
            imageError.textContent = 'Please select valid and at most 3 images.';
            imageBannerInput.focus();
            isValid = false;
        } else {
            imageError.textContent = '';
        }

       
        if (isValid) {
            console.log(imageBanner)
            const formData = new FormData();
            formData.append('title', title);
            formData.append('description', description);
            formData.append('occasion', occasion);

            for (let i = 0; i < imageBanner.length; i++) {
                if (!v.includes(i)) {
                    formData.append('images', imageBanner[i]);
                    console.log(imageBanner[i])
                }
            }

           
            fetch("/admin/bannersaddpost", {
                method: 'POST',
                body: formData,
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                if (data.success === true) {
                    window.location.href = "/admin/banners";
                } else {
                    var encodedMessage = encodeURIComponent(data.message);
                    $('#toload').load(`/admin/banners/add?message=${encodedMessage} #toload`);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert(`Error: ${error.message}`);
            });
        }
    }

    function validateImages(images) {
        const allowedExtensions = ['jpg', 'jpeg', 'png', 'gif', 'webp', 'avif'];

        if ((images.length - v.length) === 0 || (images.length - v.length) > 3) {
            return false;
        }

        for (const file of images) {
            const fileName = file.name.toLowerCase();
            const extension = fileName.split('.').pop();

            if (!allowedExtensions.includes(extension)) {
                return false;
            }
        }

        return true;
    }

    function displaySelectedNewImage() {
        var input = document.getElementById('imagebanner');
        var previewContainer = document.getElementById('bannerImagePreview');
        var files = input.files;

        previewContainer.innerHTML = '';

        var targetHeight = 40;

        for (var i = 0; i < files.length; i++) {
            (function (index) {
                var file = files[index];
                var reader = new FileReader();

                reader.onload = function (e) {
                    var imageContainer = document.createElement('div');
                    imageContainer.style.height = targetHeight + 'vh';
                    imageContainer.style.width = 'auto';
                    imageContainer.style.overflow = 'hidden';

                    var image = document.createElement('img');
                    image.src = e.target.result;
                    image.classList.add('img-thumbnail', 'mr-2');

                    var aspectRatio = image.naturalWidth / image.naturalHeight;
                    var newWidth = targetHeight * aspectRatio;

                    image.style.width = newWidth + 'vh';
                    image.style.height = targetHeight + 'vh';

                    var closeButton = document.createElement('button');
                    closeButton.innerHTML = '&times;';
                    closeButton.classList.add('btn', 'btn-sm', 'btn-danger');
                    closeButton.addEventListener('click', function () {
                        previewContainer.removeChild(imageContainer);
                        deleteBannerImage(index, file);
                    });

                    imageContainer.appendChild(image);
                    imageContainer.appendChild(closeButton);
                    previewContainer.appendChild(imageContainer);
                };

                reader.readAsDataURL(file);
            })(i);
        }
    }

    function deleteBannerImage(index, file) {
        console.log(`Deleting banner image ${index}`);
        v.push(index);
        console.log(v);
    }

    function cancelBannerImageSelection() {
        var input = document.getElementById('imagebanner');
        input.value = ''; // Clear the file input
        var previewContainer = document.getElementById('bannerImagePreview');
        previewContainer.innerHTML = ''; // Clear the preview container
        v = [];
    }

    function cancelAction() {
        window.location.href = "/admin/banners";
    }
        </script>

<%- include('./layouts/footer.ejs') %>
