<%- include('./layouts/header.ejs') %>

<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <%- include('./layouts/nav.ejs') %>
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="card" id="toload">
                <div class="card-body" >
                    <form class="forms-sample">
                      
            
                        <div class="form-group row">
                            <label for="couponName" class="col-sm-3 col-form-label" >Coupon Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="couponName" name="couponName" placeholder="Coupon Name" required>
                                <h6 class="text-danger error-message" id="couponNameError"></h6>
                              
                            </div>
                        </div>
            
                        <div class="form-group row">
                            <label for="couponCode" class="col-sm-3 col-form-label">Coupon Code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="couponCode" name="couponCode" placeholder="Coupon Code" required>
                                <p class="text-danger error-message" id="couponCodeError"></p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="couponAvailability" class="col-sm-3 col-form-label">Available coupons</label>
                            <div class="col-sm-9">
                                <input type=number class="form-control" id="availability" name="availability" placeholder="Availability" required>
                                <p class="text-danger error-message" id="couponavailabilityError"></p>
                            </div>
                        </div>
            
                        <div class="form-group row">
                            <label for="discountAmount" class="col-sm-3 col-form-label">Discount Percentage</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="discountAmount" name="discountAmount" placeholder="Discount Amount" required>
                                <p class="text-danger error-message" id="coupondiscountError"></p>
                            </div>
                        </div>
            
                        <div class="form-group row">
                            <label for="minAmount" class="col-sm-3 col-form-label">Minimum Amount</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="minAmount" name="minAmount" placeholder="Minimum Amount" required>
                                <p class="text-danger error-message" id="couponminError"></p>
                            </div>
                        </div>
            
                        <div class="form-group row">
                            <label for="couponDescription" class="col-sm-3 col-form-label">Coupon Description</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="couponDescription" name="couponDescription" placeholder="Coupon Description" required></textarea>
                                <p class="text-danger error-message" id="coupondescError"></p>
                            </div>
                        </div>
            
                        <div class="form-group row">
                            <label for="expiryDate" class="col-sm-3 col-form-label">Expiry Date</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" id="expiryDate" name="expiryDate" placeholder="Expiry Date" required>
                                <p class="text-danger error-message" id="couponexpiryError"></p>
                            </div>
                        </div>
            
                      
            
                        <button type="submit" class="btn btn-primary mr-2" onclick="addcoupon()">Submit</button>
                        <button class="btn btn-dark">Cancel</button>
                    </form>
                    <p class="text-success"> <%= message %></p>
                </div>
            </div>
            
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Aura Beauty</span>
        </div>
    </footer>
    <!-- partial -->
    </div>
    <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<script>
function addcoupon() {
   
    const couponName = document.getElementById('couponName').value;
    const couponCode = document.getElementById('couponCode').value;
    const discountPercent = document.getElementById('discountAmount').value;
    const minAmount = document.getElementById('minAmount').value;
    const couponDescription = document.getElementById('couponDescription').value;
    const expiryDate = document.getElementById('expiryDate').value;
    const availability = document.getElementById('availability').value;
     // Validate couponName (should contain only letters and cannot be empty)
     const nameRegex = /^[a-zA-Z]+$/;
    const nameError = document.getElementById('couponNameError');
    if (!nameRegex.test(couponName) || couponName === '') {
        nameError.innerText = 'Invalid name';
        return;
    }

    
    const codeRegex = /^[a-zA-Z]+$/;
    const codeError = document.getElementById('couponCodeError');
    if ( couponCode === '') {
        codeError.innerText = 'Invalid code';
        return;
    }

    
    const discountError = document.getElementById('coupondiscountError');
    if (isNaN(discountPercent) || parseInt(discountPercent) < 1) {
        discountError.innerText = 'invalid discount';
        return;
    }

   
    const minError = document.getElementById('couponminError');
    if (isNaN(minAmount) || parseInt(minAmount) < 1) {
        minError.innerText = 'invalid min value';
        return;
    }

   
    const descError = document.getElementById('coupondescError');
    if (couponDescription === '') {
        descError.innerText = 'invalid description ';
        return;
    }

  
    const expiryError = document.getElementById('couponexpiryError');
    if (expiryDate === '') {
        expiryError.innerText = 'invalid date';
        return;
    }

    
    const availabilityError = document.getElementById('couponavailabilityError');
    if (isNaN(availability) || parseInt(availability) < 1) {
        availabilityError.innerText = 'invalid number';
        return;
    }

  


    const formData = {
        couponName,
        couponCode,
        discountPercent,
        minAmount,
        couponDescription,
        expiryDate,
        availability
    };
   
   fetch('/admin/addcouponpost', {
        method: 'POST', 
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(formData),
    })
        .then(response => {
            
           
            return response.json();
        })
        .then(data => {
            
           window.location.href='/admin/couponsadd?message=added'
        })
        .catch(error => {
            console.error('Error:', error);
        });
}


    

</script>

<%- include('./layouts/footer.ejs') %>
