<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
<div class="mobile-menu-wrapper">
<span class="mobile-menu-close"><i class="icon-close"></i></span>

<form action="#" method="get" class="mobile-search">
    <label for="mobile-search" class="sr-only">Search</label>
    <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
</form>

<nav class="mobile-nav">
    <ul class="mobile-menu">
        <li class="active">
            <a href="index.html">Home</a>

            
        </li>
        <li>
            <a href="category.html">Shop</a>
            <ul>
                <li>
                    <a href="/skinCare" >Skin Care</a>

                
                </li>
                <li>
                    <a href="/hairCare">Hair Care</a>

                </li>
                <li><a href="/BathBody">Bath & Body</a></li>
            </ul>
        </li>
        
        <li>
            <a href="/about" >About</a>

        </li>
        <li>
            <a href="/contact" >Contact</a>

        </li>
        <li>
            <a href="elements-list.html">Elements</a>
            <ul>
                <li><a href="elements-products.html">Products</a></li>
                <li><a href="elements-typography.html">Typography</a></li>
                <li><a href="elements-titles.html">Titles</a></li>
                <li><a href="elements-banners.html">Banners</a></li>
                <li><a href="elements-product-category.html">Product Category</a></li>
                <li><a href="elements-video-banners.html">Video Banners</a></li>
                <li><a href="elements-buttons.html">Buttons</a></li>
                <li><a href="elements-accordions.html">Accordions</a></li>
                <li><a href="elements-tabs.html">Tabs</a></li>
                <li><a href="elements-testimonials.html">Testimonials</a></li>
                <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                <li><a href="elements-portfolio.html">Portfolio</a></li>
                <li><a href="elements-cta.html">Call to Action</a></li>
                <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
            </ul>
        </li>
    </ul>
</nav><!-- End .mobile-nav -->

<div class="social-icons">
    <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
    <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
    <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
    <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
</div><!-- End .social-icons -->
</div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->



